body {
  background-color: rgb(99, 99, 99);
  color: rgb(243, 237, 237);
}
.App {
  text-align: center;
}

.navLink {
  color: rgb(243, 237, 237);
  margin: 0 5px;
  text-decoration: none;
  margin-left: 25px;
}
.navLink:hover,
.navLink:focus {
  text-decoration: underline;
  color: rgb(78, 193, 255);
}

.PostCart {
  border: 1px black solid;
  width: fit-content;
  padding: 5px;
  border-radius: 15px;
  background-color: white;
  color: black;
  text-align: left;
}

.interactionPostBtn {
  cursor: pointer;
}
